Bike rent app

-Login
-Register
=================
-Rent/lend
=================
For rent
-Security deposit/Payment
-Requirement (time, duration, rate/hr, location)
-paypal/stripe

=====================
For lend
-Pictures
-Description(time, duration, rate/hr, location)
-paypal/stripe

==================
Google api for maps
Bikes near me
Bookings
Payments

=================
Racing events